@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: 'Roboto';
}
p {
  margin: 0px;
}

.checklist {
    margin-top: 10px;
    margin-bottom: 1pc;
    display: inline-block;
}

.checklist-items-list {
    min-height: 8px;
}

.checklist-item {
    clear: both;
    padding-left: 26px;
    position: relative;
    border-radius: 3px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transition-property: -webkit-transform,opacity,height,padding,margin;
    transition-property: transform,opacity,height,padding,margin;
    -webkit-transition-duration: .14s;
    transition-duration: .14s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    /* margin-top:10px; */
}

.checklist-item:hover {
    background: #E2E4E6;
}

.checklist-item-checkbox {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    font-weight: 700;
    position: absolute;
    left: 5px;
    line-height: 10px;
    overflow: hidden;
    text-align: center;
    text-indent: 100%;
    top: -1px;
    height: 10px;
    width: 10px;
    white-space: nowrap;
    margin-top: 5px;
}

.checklist-item-checkbox.enabled:hover {
    background-color: #F8F9F9;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
    text-indent: 0;
}

.checklist-item-state-complete .checklist-item-checkbox.enabled:hover {
    background-color: #E2E4E6;
    box-shadow: none;
}

.checklist-item-state-complete .checklist-item-checkbox {
    background-color: #EDEFF0;
    border-color: #D6DADC #D6DADC #C4C9CC;
    box-shadow: none;
    text-indent: 0;
}

.icon-check:before {
  content: "X";
    /* content: "\e910"; */
}

.icon-sm {
    font-size: 9pt;
}
.icon-lg.mod-inline, .icon-sm {
    height: 10px;
    line-height: 10px;
    width: 10px;
}
.icon-lg, .icon-sm {
    display: inline-block;
    font-family: trellicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #999;
}

.editable .current {
    cursor: pointer;
}
.checklist-item-state-complete .checklist-item-details-text {
    color: #8c8c8c;
    font-style: italic;
    text-decoration: line-through;
}

.checklist-item-details-text {
    min-height: 10px;
    margin-bottom: 0;
    /* padding: 5px 9pt; */
}

.checklist .edit {
    clear: both;
    margin-top: -3px;
    margin-left: 4px;
}
.edit {
    display: none;
    position: relative;
}
.editable.editing {
    cursor: auto;
}
.editing .edits-warning, .editing .hide-on-edit {
    display: none!important;
}
.editable .current {
    cursor: pointer;
}
.editing .edit {
    display: block;
    float: left;
    padding-bottom: 9px;
    z-index: 50;
    width: 100%;
}
.checklist .edit {
    clear: both;
    margin-top: -3px;
    margin-left: 4px;
}
.edit {
    display: none;
    position: relative;
}
.window-main-col .edit input.field {
    display: block;
    height: auto;
}
.editing .edit .field, .editing .edit .field:active {
    background: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.15);
    box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
    margin-bottom: 4px;
}
.single-line {
    height: 30px;
}
input.field {
    resize: vertical;
    -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,border-color 85ms ease-in;
    width: 100%;
}

.save-as-template {
  float:right;
  margin-left: 5px;
  cursor:pointer;
}

/* .save-as-template:hover {
  background-color: #0d3472;
  color: white;
} */

.percent-complete {
  position: relative;
  float: left;
  font-size: .8em;
  margin: 10px 3px 10px;
  text-align: right;
  min-width: 2.5em;
}

.progress-bar {
  position:relative;
  float: left;
  width: 100px;
  /* height: 20px; */
  /* padding: 2px; */
  background-color:gray;
  margin: 12px 0px;
  border-radius:5px;
}

.progress-accomplished {
  background-color: #5BA4CF;
  height: 5px;
  /* border: 1px solid white;  */
  border-radius:5px;
  padding: 2px;
  -webkit-transition: width 300ms ease-in
}

.save-as-template-tooltip {
  background-color: #f1f1f1;
  padding: 3px;
  opacity: 1;
  font-size: .7em;
  width:90px;
  text-align:center;
}

.ui-helper-hidden-accessible {
  display:none;
}